DATA FRAMES

PART 1

* A table of columns and  rows in pandas
* Group of pandas series object that share the same index

In [4]:
import numpy as np
import pandas as pd

In [5]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [6]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [7]:
myindex = ['CA','NY','AZ','TX']

In [9]:
mycolumns = ['Jan','Feb','Mar']

In [14]:
df = pd.DataFrame(data = mydata,index = myindex,columns = mycolumns)

In [15]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [19]:
# WHERE IS PYTHON CODE LOCATED

In [20]:
pwd

'C:\\Users\\akshw\\Documents\\Github\\Python_for_Data_Science\\3_Pandas'

In [23]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 7477-6E23

 Directory of C:\Users\akshw\Documents\Github\Python_for_Data_Science\3_Pandas

13-01-2023  10:16 PM    <DIR>          .
13-01-2023  10:16 PM    <DIR>          ..
13-01-2023  10:02 PM    <DIR>          .ipynb_checkpoints
09-01-2023  10:24 PM             1,331 1_Intro_to_Pandas.ipynb
09-01-2023  11:46 PM            11,319 2_Series .ipynb
13-01-2023  10:16 PM             5,563 3_Data_Frames.ipynb
               3 File(s)         18,213 bytes
               3 Dir(s)  389,538,398,208 bytes free