SERIES PART 1

* Data Structure in Pandas that holds array of information along with named index
* 1d Array with axis labels.

* Numpy has numeric index . 

BUT,

* Pandas adds on labelled index!! Data is still numerically organised.

* Combine series with a shared index to create a tabular data structure called a DataFrame.

In [31]:
import numpy as np

In [32]:
import pandas as pd

In [33]:
# help(pd.Series)

In [46]:
myindex = ['USA','Canada','Mexico']

In [47]:
mydata = [1776,1867,1821]

In [48]:
myser = pd.Series(data =mydata )

In [49]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [50]:
type(myser)

pandas.core.series.Series

In [51]:
myser = pd.Series(data =mydata , index = myindex)

In [52]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [53]:
myser[0]

1776

In [54]:
myser['USA']

1776

In [55]:
myser = pd.Series(mydata,myindex)

In [56]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [57]:
ages = {'Sam':5,'Frank':10,'Spike':7}

In [59]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

SERIES PART  2

In [60]:
q1 = {'Japan':80 , 'China':450 , 'India':200 , 'USA':250}
q2 = {'Brazil':100 , 'China':500, 'India':210 , 'USA':260}

In [61]:
sales_q1 = pd.Series(q1)

In [62]:
sales_q2 = pd.Series(q2)

In [63]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [64]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [65]:
sales_q1['Japan'] #Recommended

80

In [66]:
sales_q1[0]

80

In [67]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [69]:
np.array([1,2]) * 2

array([2, 4])

In [70]:
sales_q1 *2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [71]:
sales_q1 /100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [72]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [73]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [74]:
sales_q1 +sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [79]:
first_half = sales_q1.add(sales_q2,fill_value = 0)

In [80]:
sales_q1.dtype

dtype('int64')

In [82]:
first_half.dtype

dtype('float64')